*{
    font-family: 'Lato', sans-serif;
    margin: 0;
}

/* Header Banner Styles */

.header{
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    background-position: unset; 
}
.banner-text{
    display: list-item;
    padding-top: 250px;
    padding-left: 50px;
}
.banner-title{
    font-weight: 900;
    font-size: 55px;
    color: rgb(43, 42, 51);
    padding-bottom: 24px;
}
.banner-description{
    padding-bottom: 34px;
    padding-right: 1000px;
    color: rgb(67, 64, 68);
    font-size: 18px;
}
.btn-contact{
    color: rgb(8, 14, 32);
    font-weight: 700;
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
    background: rgb(232, 245, 253);
    border: 0;
    padding: 12px 20px;
}